.head img {
  width: 35px;
  height: 35px;
}
.head p {
  font-size: 13px;
}
.post-img {
  border: solid .2px;
  overflow: scroll;
  width: 100%;
}
.desc-post {
  font-size: 12px;
}
r {
  color: #ff2626;
}
/* zoom effect */
     * {
        position: relative;
        z-index: 998;
      }
      .info img {
        filter: blur(0px);
      }
      .info img:hover {
        transition: 1.5s;
        transform: scale(1.1);
        z-index: -1;
        filter: saturate(200%)  contrast(120%) blur(0px);
        cursor: pointer;
      }
      .info {
        overflow: hidden;
      }
      
      .post-video {
          width: 100%;
          height: auto;
          filter: blur(0px);
          transition: .8s;
        }
        